

  
@media (min-width: 768px) {
    .container {
        flex-direction: row; 
        display: flex;
    }

    .left-section {
        width: 33%;
    }

    .right-section {
        width: 67%;
    }
}
