@primary: #3f84e5;
@primary-hover: rgba(63, 132, 229, 0.85);

@secondary: black;
@secondary-hover: rgba(242, 204, 143, 0.85);

@background: #f7f7ff; // ghost white
@text-white: #f7f7ff;
@text-black: #000000;

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Figtree", san-serif;
  background-color: @background;
  height: 100%;
  width: 100%;
}
